{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false,
        "bracketSpacing": true
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
